*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar h2{
    margin-left: 70px;
}

.navbar-link{
    display: flex;
    column-gap: 40px;
}

.navbar-links a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

 /* hide toggle icons in big screens */
.navbar-icon{
    display: none;
    cursor: pointer;
}

/* media screen is used for responsive design 0 to 600px for toggle icon displayed with main icons disappeared */
@media screen and (max-width:600px) {
    
    .navbar-icon{
        display: block;
    }

    .navbar-link{
        display: none;
    }

    .navbar h2{
        margin-left: 10px;
        margin-top: 7px;
    }

    .card img{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    
}

.side-nav{
    background-color: rgb(6, 6, 92);
    width: 45%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -55%;
    padding: 20px;
    color: white;
    transition: 2s;
    z-index: 1;
}

.side-nav p{
    color: white;
    text-align: end;
    cursor: pointer;
}

.side-navbar-links{
    margin-bottom: 30px;
    margin-top: 5px;
}

.side-navbar-links a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
}

/* .header1{
    width: 40%;
} */

.img1 img{
    border-radius: 20px;
    margin-left: 5px;
    width: 150px;
    height: 150px;
}
.div52{
    margin-left: 5px;
}
.div52 button{
    border-radius: 10px;
    width: 100px;
    height: 35px;
}

@media screen and (min-width :600px ){

    .img1 img{
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }

    .div52{
        margin-top: 55px;
    }

    .card img{
        width: 300px;
        height: 340px;
        object-fit: cover;
    }
    
    
}

.div65{
    padding-top: 20px;
}

.carousel-item img{
    overflow: hidden;
    object-fit: cover;
}

/* .div85 input{
    width: 250px;
    margin-left: 15%;
} */

.card button{
    width: 80px;
    height: 28px;
}

.con-52 .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* footer{
    padding: 0;
    margin: 0;
} */

